*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    gap: 10px;
}
.content-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}
header, nav, footer, aside, main 
{
    border: 2px solid black;
    background-color: bisque;
   
}
header, footer, nav{
    height: 10vh;
    padding: 10px;
}
aside, main{
    padding: 20px;
    flex: 1;
    min-height: 350px;
}
